<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2022-23
                  
               | Design: <a rel="nofollow" href="https://www.linkedin.com/in/kousik-nandi-a65202191/" target="_parent">Kousik Nandi</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>